.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F9F9F9;
}

@keyframes toss-0 {
  0% {
    transform: translate(102vw, -104vh) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(7deg);
  }
}
.image-0 {
  position: absolute;
  animation: toss-0 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(102vw, -104vh) rotate(-5deg);
  animation-delay: 0.02s;
}

@keyframes toss-1 {
  0% {
    transform: translate(-104vw, -106vh) rotate(-15deg);
  }
  100% {
    transform: translate(0, 0) rotate(-4deg);
  }
}
.image-1 {
  position: absolute;
  animation: toss-1 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(-104vw, -106vh) rotate(-15deg);
  animation-delay: 0.04s;
}

@keyframes toss-2 {
  0% {
    transform: translate(-120vw, -104vh) rotate(20deg);
  }
  100% {
    transform: translate(0, 0) rotate(9deg);
  }
}
.image-2 {
  position: absolute;
  animation: toss-2 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(-120vw, -104vh) rotate(20deg);
  animation-delay: 0.06s;
}

@keyframes toss-3 {
  0% {
    transform: translate(124vw, 104vh) rotate(4deg);
  }
  100% {
    transform: translate(0, 0) rotate(14deg);
  }
}
.image-3 {
  position: absolute;
  animation: toss-3 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(124vw, 104vh) rotate(4deg);
  animation-delay: 0.08s;
}

@keyframes toss-4 {
  0% {
    transform: translate(0vw, -120vh) rotate(-24deg);
  }
  100% {
    transform: translate(0, 0) rotate(-4deg);
  }
}
.image-4 {
  position: absolute;
  animation: toss-4 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(0vw, -120vh) rotate(-24deg);
  animation-delay: 0.1s;
}

@keyframes toss-5 {
  0% {
    transform: translate(106vw, -106vh) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(9deg);
  }
}
.image-5 {
  position: absolute;
  animation: toss-5 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(106vw, -106vh) rotate(10deg);
  animation-delay: 0.12s;
}

@keyframes toss-6 {
  0% {
    transform: translate(-110vw, -104vh) rotate(-25deg);
  }
  100% {
    transform: translate(0, 0) rotate(-8deg);
  }
}
.image-6 {
  position: absolute;
  animation: toss-6 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(-110vw, -104vh) rotate(-25deg);
  animation-delay: 0.14s;
}

@keyframes toss-7 {
  0% {
    transform: translate(104vh, -112vh) rotate(15deg);
  }
  100% {
    transform: translate(0, 0) rotate(-4deg);
  }
}
.image-7 {
  position: absolute;
  animation: toss-7 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(104vh, -112vh) rotate(15deg);
  animation-delay: 0.16s;
}

@keyframes toss-8 {
  0% {
    transform: translate(-104vw, 112vh) rotate(-10deg);
  }
  100% {
    transform: translate(0, 0) rotate(6deg);
  }
}
.image-8 {
  position: absolute;
  animation: toss-8 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(-104vw, 112vh) rotate(-10deg);
  animation-delay: 0.18s;
}

@keyframes toss-9 {
  0% {
    transform: translate(112vw, 106vh) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) rotate(12deg);
  }
}
.image-9 {
  position: absolute;
  animation: toss-9 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(112vw, 106vh) rotate(5deg);
  animation-delay: 0.2s;
}

@keyframes toss-10 {
  0% {
    transform: translate(104vw, -102vh) rotate(-20deg);
  }
  100% {
    transform: translate(0, 0) rotate(8deg);
  }
}
.image-10 {
  position: absolute;
  animation: toss-10 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(104vw, -102vh) rotate(-20deg);
  animation-delay: 0.22s;
}

@keyframes toss-11 {
  0% {
    transform: translate(121vw, 110vh) rotate(-4deg);
  }
  100% {
    transform: translate(0, 0) rotate(12deg);
  }
}
.image-11 {
  position: absolute;
  animation: toss-11 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(121vw, 110vh) rotate(-4deg);
  animation-delay: 0.24s;
}

@keyframes toss-12 {
  0% {
    transform: translate(0vw, -109vh) rotate(24deg);
  }
  100% {
    transform: translate(0, 0) rotate(10deg);
  }
}
.image-12 {
  position: absolute;
  animation: toss-12 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(0vw, -109vh) rotate(24deg);
  animation-delay: 0.26s;
}

@keyframes toss-13 {
  0% {
    transform: translate(104, 108vh) rotate(13deg);
  }
  100% {
    transform: translate(0, 0) rotate(-12deg);
  }
}
.image-13 {
  position: absolute;
  animation: toss-13 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(104vw, 108vh) rotate(13deg);
  animation-delay: 0.28s;
}

@keyframes toss-14 {
  0% {
    transform: translate(112vw, -120vh) rotate(13deg);
  }
  100% {
    transform: translate(0, 0) rotate(-7deg);
  }
}
.image-14 {
  position: absolute;
  animation: toss-14 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(112vw, -120vh) rotate(13deg);
  animation-delay: 0.3s;
}

@keyframes toss-15 {
  0% {
    transform: translate(-104vw, 110vh) rotate(30deg);
  }
  100% {
    transform: translate(0, 0) rotate(6deg);
  }
}
.image-15 {
  position: absolute;
  animation: toss-15 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(-104vw, 110vh) rotate(30deg);
  animation-delay: 0.32s;
}

@keyframes toss-16 {
  0% {
    transform: translate(120vw, -102vh) rotate(-15deg);
  }
  100% {
    transform: translate(0, 0) rotate(4deg);
  }
}
.image-16 {
  position: absolute;
  animation: toss-16 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(120vw, -102vh) rotate(-15deg);
  animation-delay: 0.34s;
}

@keyframes toss-17 {
  0% {
    transform: translate(-102vw, -115vh) rotate(25deg);
  }
  100% {
    transform: translate(0, 0) rotate(7deg);
  }
}
.image-17 {
  position: absolute;
  animation: toss-17 0.8s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
  transform: translate(-102vw, -115vh) rotate(25deg);
  animation-delay: 0.36s;
}