body {
  width: 576px;
  font-size: 13px;
  margin: auto;
  margin-block: 64px;
  animation: opacity 0.5s ease forwards;
  will-change: filter;
}

@media only screen and (max-width: 640px) {
  body {
    width: auto;
    margin: 16px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about-video {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-top: 16px;
  border-radius: 50% 50% 0% 0%;
}

::selection {
  background-color: #d9d9d9;
}

.heading {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  text-align: center;
}

.heading > span {
  text-align: right;
  color: #b9b9b9;
}

.img {
  margin-block: 20px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

p,
ul {
  margin-block: 12px;
}

h2 {
  font-size: 13px;
  font-weight: 400;
}

blockquote {
  border-left: 2px solid #d9d9d9;
  margin: 20px 0px 20px 20px;
  padding-left: 12px;
  quotes: "\201C""\201D""\2018""\2019";

  p {
    margin: 0 !important;
  }
}

a {
  color: inherit;
  text-decoration-style: dotted;
  transition: 0.1s ease;
}

a:hover {
  background-color: #d9d9d9;
  box-shadow: 4px 0 0 #d9d9d9, -4px 0 0 #d9d9d9;
  color: black;
}

.back {
  width: fit-content;
  text-align: left;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: baseline;

  transition: 0.1s ease;
}

.back:hover {
  gap: 10px;
  opacity: 0.5;
  background-color: unset;
  box-shadow: unset;
}

hr {
  margin-block: 12px;
  border: 0.5px solid #d9d9d9;
}

pre {
  color: rgba(0, 0, 0, 0.7r);
  background-color: #e9e9e9;
  border: 1px solid #c9c9c9;
  padding: 12px;
  overflow: scroll;
}

pre > code {
  background-color: unset;
  font-style: normal;
}

code {
  background-color: #e9e9e9;
  font-style: italic;
}

.iframe {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
}

.about-card {
  border: 8px solid white;
  transform: rotate(-1.5deg);
  width: 100%;
  object-fit: cover;
  height: 376px;
  box-shadow: rgba(9, 30, 66, 0.15) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  margin-block: 18px;
  margin-bottom: 38px;
}
